
@{
    ViewBag.Title = "About";
}

<div class="about_container">

    <h2> About </h2>

    <h3> Preface </h3>

    <p>
        I'm not sure why I am filling this page with information. 
        I guess I just wanted to retain some navigation on the site, 
        but just having an empty page wouldn't have made sense.
    </p>

    <h3> Comments </h3>

    <p>
        When I found out Amazon does not support the spec. of this assignment, 
        I thought I'd email you and ask if I could solve it in a more optimal manner. 
        As a test assignment it was nice, but in a real-life situation I would still strongly advise against it, though.
        ... Or maybe it was part of the assignment. In which case I failed. Damnit.
    </p>
    <p>
        I ended up spending the majority of my time fumbling around in .css files. 
        And I don't even like frontend webdev, but couldn't leave it half-assed once I had started styling it.
    </p>
    <p>
        Will crash if required ids/keys are missing. 
        I did not implement errorhandling as it is not a real use case.
    </p>

    <h3> Known issues </h3>

    <p>
        Didn't understand how the ViewModel works. I mean... I did get how it works from a technical standpoint,
        but failed to grasp it conceptually. I still need to write (cs)html, css, js and C#.
        I did not understand why I would need yet another layer. I would really like some feedback on this.
    </p>
    <p>
        I was not able to get all the prices of products Amazon seems to receive.
    </p>
    <p>
        I feel the SOAP request part could use more errorhandling, but I couldn't create scenarios where it would crash,
        and I'm not a fan of the 'surround everything with try-catch' ideology.
    </p>
    <p>
        I know html/css is notoriously incompatible between browsers, yet I did not do hard-core testing on different browsers.
        Worked well on Chrome and everything seemed to be ok on IE. 
    </p>
    <p>
        Would have been nice to build a custom navigation bar, but honestly, 
        I really like the stock one and just decided to keep it.
    </p>
    <p>
        ... And probably a gorillion other little things I'll think of after I submit.
    </p>
</div>